#footer {
  margin-top: auto;
  width: 100%;
  border-top: 2px solid #222;
  flex: 0 0 50px;
}

#footer .footer-container {
  width: 60%;
  margin: 0 auto;
  padding: 5px 0px;
  overflow: hidden;
  display: block;
}

.footer-container .footer-text-container {
  width: 100%;
  margin: 0 auto;
  color: #636363;
  font-size: 13px;
}
.footer-container .footer-text-container h3 {
  font-size: 14px;
  font-weight: 800;
}

/*USER CSS*/

.dashboard {
  background: #222;
  text-align: center;
  margin-bottom: 10px;
  height: fit-content;
}

.dashboard h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: center !important;
}

/*MOVIE CSS*/

.category-title {
  border-bottom: 3px solid #241d1e;
  width: inherit;
  height: fit-content;
  padding-bottom: 20px;
  position: relative;
}

.category-title .sub-category {
  position: absolute;
  right: 0;
  bottom: 4px;
}

.sub-category a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
