#footer {
  margin-top: auto;
  width: 100%;
  border-top: 2px solid #222;
  flex: 0 0 50px;
}

#footer .footer-container {
  width: 60%;
  margin: 0 auto;
  padding: 5px 0px;
  overflow: hidden;
  display: block;
}

.footer-container .footer-text-container {
  width: 100%;
  margin: 0 auto;
  color: #636363;
  font-size: 13px;
}
.footer-container .footer-text-container h3 {
  font-size: 14px;
  font-weight: 800;
}

/*USER CSS*/

.dashboard {
  background: #222;
  text-align: center;
  margin-bottom: 10px;
  height: fit-content;
}

.dashboard h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: center !important;
  font-size: 1.5rem;
  padding: 5px;
}

.change-btn {
  display: inline-block;
  background: #9d9b9b;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  min-width: 85px;
  padding: 3px 5px;
}

.change-btn:hover {
  color: #fff;
}

.block-content li {
  background: url('https://cdn.discordapp.com/attachments/845814665542893584/847463617377075250/ribon_left-ccc.png')
    no-repeat scroll left center #ccc;
  color: #fff;
  height: 34px;
  padding-left: 18px;
  float: left;
  width: 100%;
  margin: 2px 0;
  text-transform: uppercase;
}
.block-content li a {
  color: #666 !important;
  margin-left: 5px !important;
  line-height: 34px !important;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
.block-content .active {
  background: url('https://cdn.discordapp.com/attachments/845814665542893584/847464723037683712/ribon_left.png')
    no-repeat scroll left center #e71a0f;
  color: #fff;
  padding-left: 18px;
}
.block-content .active a {
  color: #fff !important;
}
/*MOVIE CSS*/

.product-card:hover {
  border: 1px solid #e7770f;
  color: #e7770f;
  transition: color 0.5s ease, border-color 0.5s ease;
}

.product-img {
  border: 5px solid #212529;
}

.product-card:hover .product-img {
  border-color: #e7770f !important;
  border-width: 2px;
  transition: border-color 0.5s ease, border-width 0.5s ease;
}

.category-title {
  border-bottom: 3px solid #241d1e;
  width: inherit;
  height: fit-content;
  padding-bottom: 20px;
  position: relative;
}

.category-title .sub-category {
  position: absolute;
  right: 0;
  bottom: 4px;
}

.sub-category a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.breadcrumb-container {
  background-color: #f1f0e5;
  border-bottom: 1px solid #cacac0;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.breadcrumb-container li {
  float: left;
  font-size: 14px;
  font-family: Verdana, Arial, sans-serif;
}
.breadcrumb-home {
  background: url('https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-cgv-bread-home.png')
    no-repeat scroll left center transparent;
  text-indent: -9999px;
  padding: 0 9px;
  width: 17px;
  height: 15px;
}
.breadcrumb-item strong {
  color: #222;
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
  white-space: nowrap;
}
.breadcrumb-item a {
  color: inherit;
  text-decoration: none;
}
.product-desc {
  border-bottom: 2px solid #222;
  width: inherit;
  height: fit-content;
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.product-desc span {
  margin: 0;
  color: #222;
  font-family: 'Helvetica Neue', Verdana, Arial, sans-serif;
  font-size: 28px;
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 0.7em;
  text-rendering: optimizeLegibility;
}
.product-name {
  border-bottom: 1px solid #d9d6c8;
  float: left;
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 15px;
}
.product-name .h4 {
  float: left;
  padding-bottom: 5px;
  color: #333;
}
.movie-info p {
  margin: 0;
  font-size: 14px;
}
.booking-btn {
  background: none no-repeat scroll 0 0 #e71a0f;
  display: inline-block;
  padding: 6px 2px;
  border: 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  font-family: 'Helvetica Neue', Verdana, Arial, sans-serif;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 5px;
}
.booking-btn > span {
  background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cate-booking.png)
    no-repeat scroll left center rgba(0, 0, 0, 0);
  padding-left: 25px;
  border-radius: 5px;
  border: 1px solid #f07469;
  font-weight: bold;
  padding: 5px;
}
.booking-btn span .book {
  font-weight: bold;
  padding: 5px;
  padding-left: 25px;
}
.box-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/controls.png)
    no-repeat top center;
  width: 38px;
  height: 19px;
  text-indent: -9999px;
  border: none;
}
.box-close:hover {
  background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/controls.png)
    no-repeat bottom center;
}
.timebox {
  border: 1px solid #dee2e6;
}
.timebox:hover {
  border-color: #212529;
}
/* CONTENT CSS */
/*CONTENT*/

.home-title {
  background: url(/img/bg_h3_line.jpg) repeat-x scroll left center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-carousel-container {
  background: url(/img/bg_c_bricks.png) repeat-x scroll 0 rgba(0, 0, 0, 0);
}

/*LOADER CSS*/
.img-loading {
  background: transparent url('/img/loader.gif') center no-repeat;
  background-size: 24%;
}

/*BOOKING CSS*/

.screen {
  width: 100%;
  height: 45px;
  margin: 20px auto 40px;
  text-align: center;
  background: url('https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-screen.png')
    no-repeat top center transparent;
  background-size: 100% auto;
}
.top-content {
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #d4d3c9;
  background: #fff1ce;
  margin-bottom: 20px;
  overflow: hidden;
}
